<div class="debug-info">
  <p>**************** PARAMS *****************</p>
  <div><%= debug(params) %></div>
  <p>*************** USER INFO ***************</p>
  <div><%= current_user.inspect %></div>
  <div><%= current_user.user_roles %></div>
  <p>******************************************</p>
  <br>
  Source: <%= session[:visitor_origin] %> User: <%= current_user.display_name %>
  <br>
</div>
