<p id="notice"><%= notice %></p>

<% if @article.published? %>
  <%= link_to @article.status, toggle_publish_status_article_path(@article), method: :post %>
  <div>Article is live!</div>
<% elsif @article.draft? %>
  <%= link_to @article.status, toggle_publish_status_article_path(@article), method: :post %>
  <div>Article is in draft mode.</div>
<% end %>

<hr>

<div>
  <%= image_tag @article.main_image %>
</div>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Tags:</strong>
  <%= raw tag_links(@article.all_tags) %>
</p>

<hr>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<br></br>

<h2>Comments</h2>
<div class="comments">
  <%= render @article.comments %>
  <%= render "comments/form", article: @article %>
</div>
