<h1>Dashboard</h1>

<!-- User piece of dashboard START -->

<%= form_with(url: admin_users_path, method: :get, local: true) do |form| %>
  <div class="field">
    <%= form.label :display_name %>
    <%= form.text_field :display_name %>
  </div>

  <div class="actions">
    <%= form.submit "Search", name: nil %>
  </div>
<% end %>

<br>

<% if !@user.nil? %>
  <p>
    <span class="email"><%= @user.email %></span>
    <span class="display-name"><%= @user.display_name %></span>
    <span class="assigned-roles"><%= @user.user_roles %></span>
  </p>
<% end %>

<!-- User piece of dashboard END -->
