<div class="card moo">
  <div class="card-body">
    <h5 class="card-title">
      <div><%= current_user.display_name %></div>
      <div><%= current_user.email %></div>
      <div><%= current_user.first_name %></div>
      <div><%= current_user.last_name %></div>
    </h5>
  </div>
  <div class="card-footer">
    <div><%= current_user.user_roles %></div>
  </div>
</div>
