<p id="notice"><%= notice %></p>

<h1>Users</h1>

<% @users.each do |user| %>
  <div class="content">
    <p>
      <span class="email"><%= user.email %></span>
      <span class="display-name"><%= user.display_name %></span>
      <span class="assigned-roles"><%= user.user_roles %></span>
      <%= form_for user, url: admin_user_add_role_path, html: { method: :patch } do |f| %>
        <%= f.label :roles %>
        <%= f.select "roles", options_for_select(User.all_roles) %>
        <%= f.submit %>
      <% end %>
    </p>
    <hr>
  </div>
<% end %>
