<!DOCTYPE html>
<html>
  <head>
    <title>SazeracSocial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.is_a? GuestUser %>
      <%= link_to "Register", new_user_registration_path, class: "btn btn-primary" %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
    <% end %>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    Source: <%= session[:visitor_origin] %> User: <%= current_user.display_name %>

    <%= yield %>
  </body>
</html>
