<!DOCTYPE html>
<html>
  <head>
    <title>SazeracSocial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar/navbar" %>

    <% if flash[:notice] %>
      <div class="alert alert-success overlap"><%= notice %></div>
    <% end %>

    <div class="container-fluid no-pad">
      <%= yield %>
    </div>
  </body>

  <hr>

  <%= render "shared/debug/debug_info" %>
</html>
